<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<div class="main-content">
    {{>header}}
    <p>It used data from mapbox.com and darksky.com</p>
    <img class="portrait" src="img/funny.jpg" alt="">
</div>

{{>footer}}

</body>
</html>
